$btn-sizes: (
  "default": 41,
  "large": 42,
);
$inversedThemeColor: #000000;
$btn-letter-spacing: 0.15px;
$tooltip-background-color: #757575;
$btn-font-sizes: (
  "x-small": 0.625rem,
  "small": 0.75rem,
  "default": 14px,
  "large": 16px,
  "x-large": 1rem,
);
$list-dense-min-height: 36px;
$material-dark: (
    'background': rgb(119, 119, 119),
  )

